<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div class="name">
        <h1>Rento</h1>
    </div>
    <div class="signin">
        <form action="#" method="post">
            <input type="text" name="username" placeholder="full Name" >
            <input type="text" name="phone" placeholder="Phone Number">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <p>you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>.</p>
            <p class="ald">Already have an account? <a href="login.html">Login</a></p>
            <button type="submit">Signin</button>

        </form>
</body>
</html>