{% extends 'base.html' %}

{% block title %} Rento {% endblock %}

{% block csslink %}
    <link 
    rel="stylesheet" 
    href="{{ url_for('static', filename='css/mainHead.css' )}}"
    />
    <link 
    rel="stylesheet" 
    href="{{ url_for('static', filename='css/featured.css' )}}"
    />
{% endblock %}

{% block content %}
<div class="HeadText">
        <H1>Rent Anything, Anytime And Anywhere</H1>
        <p>Find and rent item from people near you</p></div>
        <div class="features">
        <div class="feature-item">
            <img src="#" alt="">
            <h1>Car for rent</h1>
            <p>Rent a car for your next trip</p>
            <button class="btn"><a href="/login" id="febu">Rent Now</a></button>
        </div>
        <div class="feature-item">
            <img src="#" alt="">
            <h1>Camera for rent</h1>
            <p>Capture your moments with our cameras</p>
            <button class="btn"><a href="/login"id="febu">Rent Now</a></button>
        </div>
        <div class="feature-item">
            <img src="#" alt="">
            <h1>Bike for rent</h1>
            <p>Explore the city on two wheels</p>
            <button class="btn"><a href="/login"id="febu">Rent Now</a></button>
        </div>
    </div>
{% endblock %}