<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <nav class="navbar">
        <div class="navdiv">
            <div class="name">
                <img src="documents/logoomer.png" alt="">
                <h1>Rento</h1>
            </div>
                <ul>
                    <li><a href="Item.html">ITEMS</a></li>
                    <li><a href="login.html">LOGIN</a/li>
                    <li><a href="login.html">SIGN IN</a></li>
                    <button class="btn"><a href="lists.html">LIST_ITEM</a></button>
                </ul>
        </div>
    </nav>
</body>
</html>